<!-- must have the ion-view tag, then it is treated as a template -->
<ion-view view-title="My Notes">
  <ion-content ng-controller="ListCtrl">
    <div class="padding">
      <a href="#/add" class="button button-block button-calm">New Note</a>
    </div>

    <ion-list>
      <!-- replace css tags with these directives -->
      <ion-item

      class="item-remove-animate item-icon-right"
      href="#/edit/{{note.id}}"
      ng-repeat="note in notes">
        <h2>{{note.title}}</h2>
        <p>{{note.description}}</p>
        <!-- adds the button -->
        <i class="icon ion-arrow-right-b"></i>
        <ion-option-button class="button-assertive icon-left ion-close-circled"
          ng-click="remove(note.id)"></ion-option-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
